@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Mitr&display=swap");

:root {
  --background-color: rgb(8, 19, 50);
  --foreground-color: #04050a;
  --primary-color: #5368b3;
  --secondary-color: #c3a6d8;
  --accent-color: #bd76c3;
  --font-header: "Madimi One", sans-serif;
  --font-body: "Mitr", sans-serif;
  --text-color: #eceef4;
  --header-color: rgba(255, 255, 255, 0.88);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-body);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8em;
  width: 100%;
}
