@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Mitr&display=swap");

:root {
  --background-color: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 30%,
    rgb(66, 150, 229) 100%
  );
  --foreground-color: rgb(43, 44, 49);
  --primary-color: #5368b3;
  --secondary-color: #c3a6d8;
  --accent-color: #bd76c3;
  --font-title: "Madimi One", sans-serif;
  --font-body: "Mitr", sans-serif;
  --text-color-navbar: #2c5282;
  --text-hover-color: #bd76c3;
  --header-color: rgba(255, 255, 255, 0.93);
  --border-color: rgba(0, 11, 114, 0.26);
}

h1 {
  font-family: var(--font-title);
  color: rgb(236, 245, 255);
  font-size: 3.5rem;
  margin-bottom: 0;
}

h2 {
  font-family: var(--font-title);
  color: #2c5282;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 1.6rem;
}

p {
  color: var(--foreground-color);
  font-size: 1rem;
  line-height: 1.3;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-body);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8em;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
